
body{
  margin:2px;
  background-color: #fff;
  color: #555;
  font-size:1.8em;
}

a{
  color: #9D81A1;
  text-decoration: none;
}

a:hover{
  color: #70BB7B;
  text-decoration: none;
}

.left{
  float:left;
}

.right{
  float:right;
  margin-right:40px;
}

.blog-title{
  font-size: 1.3em;
  margin: 25px 5px;
}

.blog-post-title{
  font-size: 2em;
}

.blog-post-date{
  color: #7F7A88;
}
